<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link" n:href="Homepage:">Homepage</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" n:href="Login:signOut">Logout</a>
    </li>
</ul>
<hr>